<!DOCTYPE html>
<html lang="en">
<head>
    <title>IsJeffreeLee?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/util.css"/>
</head>
<body>


<div class="bg-img1 overlay1 size1 flex-w flex-c-m p-t-45 p-b-55 p-l-15 p-r-15"
     style="background-image: url('../public/images/bg.jpg');">
    <div class="wsize1">
        <p class="txt-center p-b-23">
            <span class="iconify" data-icon="fa-solid:ambulance" data-inline="false" style="color: white;"
                  data-width="48px" data-height="48px"></span>
        </p>

        <h3 class="l1-txt1 txt-center p-b-22">
            isjeffreelee
        </h3>

        <p class="txt-center m2-txt1 p-b-67">
            Counting down the time until Jeff is finally free!
        </p>

        <div class="flex-w flex-sa-m cd100 bor1 p-t-42 p-b-22 p-l-50 p-r-50 respon1">
            <div class="flex-col-c-m wsize2 m-b-20">
                <span class="l1-txt2 p-b-4 days">35</span>
                <span class="m2-txt2">Days</span>
            </div>

            <span class="l1-txt2 p-b-22">:</span>

            <div class="flex-col-c-m wsize2 m-b-20">
                <span class="l1-txt2 p-b-4 hours">17</span>
                <span class="m2-txt2">Hours</span>
            </div>

            <span class="l1-txt2 p-b-22 respon2">:</span>

            <div class="flex-col-c-m wsize2 m-b-20">
                <span class="l1-txt2 p-b-4 minutes">50</span>
                <span class="m2-txt2">Minutes</span>
            </div>

            <span class="l1-txt2 p-b-22">:</span>

            <div class="flex-col-c-m wsize2 m-b-20">
                <span class="l1-txt2 p-b-4 seconds">39</span>
                <span class="m2-txt2">Seconds</span>
            </div>
        </div>

        <div class="flex-w flex-c-m p-t-70">
            <button id="jeff-free-button" class="flex-c-m s1-txt1 size2 how-btn trans-04 where1">
                Is Jeff free?
            </button>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="../public/js/main.js"></script>
<script>
        var options = {
			endtimeYear: 2024,
			endtimeMonth: 5,
			endtimeDate: 1,
			endtimeHours: 0,
			endtimeMinutes: 0,
			endtimeSeconds: 0,
		};
		$('.cd100').countdown100(options);
        init(options);
</script>

</body>
</html>